body {
	padding: 0;
	margin: 0;
}

.main-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: linear-gradient(to right, #2c3f66, #5e617c);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.main-nav li {
	display: inline-block;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 1%;
}

.main-nav li a:hover {
	color: #ffffff;
	font-weight: bolder;
	transition-duration: .3s;
}

.main-nav li a {
	color: #dddddd;
	text-decoration: none;
}

.left-bar, .right-bar {display: inline-block;}

.left-bar {width: 20vw;}
.right-bar {width: 78vw;}
.right-bar {margin-top: 5vh;}

.toc-list {
	background-color: #7a92a0;
	border-radius: 10%;
	width: 15vw;
	padding: 1vw;
	list-style-type: none;
	margin-left: 1vw;
	position: fixed;
	top: 8vh;
	overflow-wrap: break-word;
}

.toc-list-item a {
	color: #eeeeee;
	text-decoration: none;
}

p, td {
	font-size: 30px;
	font-family: "Avenir Next", "Avenir", serif;
}

h1 {
	font-size: 50px;
}